albumentations==2.0.8
opencv-python-headless==4.13.0.90
#opencv-python
torch==2.11.0
torchvision==0.26.0
pillow
pytorch-lightning==2.5.0
torchmetrics==1.8.0
wandb
sconf
timm
pandas
einops
setproctitle
transformers==5.12.1
matplotlib==3.9.2
matplotlib-inline==0.1.7
numpy==2.3.5

diffusers==0.35.1
datasets==4.0.0
accelerate==1.10.0
safetensors>=0.5.0
ipywidgets
vllm==0.23.0
